{% extends 'base.html' %}

{% load static %}

{% block title %}
  Картина
{% endblock %}

{% block add_css_link %}
<link rel="stylesheet" href="{% static 'css/painting_likes.css' %}">
{% endblock add_css_link %}

{% block content %}
  <h1>{{ painting.painting_name }}</h1>
  <h4>Художник: {{ painting.painting_artist }}</h4>
  <h5>Галерея: {{ painting.painting_gallery }}</h5>
  <h6 class="mb-2">размер: {{ painting.get_painting_size }}</h6>
  {% load thumbnail %}
  {% thumbnail painting.painting_photo '550x350' as ph %}
    <img src="{{ ph.url }}"
             width="{{ ph.width }}"
             height="{{ ph.height }}"
             alt="картина">
  {% endthumbnail %}
  <a href="{% url 'download:image' painting.painting_photo %}" class=
  "mx-auto d-block col-lg-2 col-md-3 col-sm-3 col-xs-6 btn text-blue btn-outline-primary mt-2 mb-3">Скачать изображение</a>
  <h6 class="mt-2 mb-2">год создания: {{ painting.painting_creation_year }}</h6>
  <h6 class="mt-2 mb-2">материалы: {{ painting.painting_materials }}</h6>
  <h4>Интересные факты о картине</h4>
  {% if painting.painting_facts %}
    {% for fact in painting.painting_facts.all %}
      <div class="card col-sm-8 mx-auto mt-2 mb-2 rounded">
        {% if fact.title %}
          <div class="card-header bg-secondary">
              <h6 class="card-title">{{ fact.title }}</h6>
          </div>
        {% endif %}
        <div class="card-body">
          <p class="card-text">{{ fact.fact }}</p>
        </div>
      </div>
    {% endfor %}
  {% endif %}

  <h6 class="text-black">
    Количество лайков: {{ painting.likes.count }}
  </h6>
  <div class="d-inline-block">
    <form method="post" action="{% url 'paintings:likes' slug=painting.slug %}">
      {% csrf_token %}
      <button type="submit" class="button_painting_like border-0">
        {% if request.user in painting.likes.all %}
          <img class="img_painting_like" src="{% static 'img/like_red.png' %}" alt="Лайк!">
        {% else %}
          <img class="img_painting_like" src="{% static 'img/like.jpg' %}" alt="Лайк!">
        {% endif %}
      </button>
    </form>
  </div>
  <div>
    <a class='btn btn-primary' href="{% url 'artists:artist' painting.painting_artist.slug %}">Биография художника</a>
    <a class='btn btn-primary' href="{% url 'galleries:gallery' painting.painting_gallery.slug %}">Информация о галереи</a>
  </div>
  <div>
    <a class='btn btn-primary mt-2 mb-3'
           href="{% url 'artists:artist_painting' slug=painting.painting_artist.slug %}">
      Назад к картинам
    </a>
  </div>

{% endblock %}