{% extends 'base.html' %}

{% block title %}
  Картины художника
{% endblock %}

{% block content %}
  <h1>Картины</h1>
  {% for painting in paintings %}
    {% if forloop.counter0|divisibleby:3 %}
      <div class="row">
    {% endif %}
    <div class="col-4">
      <h5 class="mt-3">{{ painting.painting_name }}</h5>
      <p>Размер: {{ painting.painting_size }}</p>
      {% load thumbnail %}
      {% thumbnail painting.painting_photo '350x200' crop='center' as photo %}
        <img src="{{ photo.url }}"
                     width="{{ photo.width }}"
                     height="{{ photo.height }}"
                     alt="картина художника">
      {% endthumbnail %}
      <p>Год создания: {{ painting.painting_creation_year }}</p>
      <a href="{% url 'paintings:painting' painting.painting_slug %}"
               class="btn btn-primary" role="button">
        Подробнее о картине
      </a>
    </div>
    {% if forloop.counter >= 3 and forloop.counter|divisibleby:3 or forloop.last %}
      </div>
    {% endif %}
  {% endfor %}
  <a href="{{ request.META.HTTP_REFERER }}"
       class="btn btn-primary mt-3" role="button">
    Вернуться назад
  </a>
{% endblock %}