[flake8]
application-import-names = artists,core,feedback,galleries,paintings,users,homepage
exclude = .git,__pycache__,venv,migrations
import-order-style = google
per-file-ignores = homepage/urls.py:I202