{% extends 'base.html' %}

{% block title %}
  Галерея
{% endblock %}

{% block content %}
  <h1>{{ gallery.gallery_name }}</h1>
  <h5>Местоположение: {{ gallery.gallery_location }}</h5>
  {% load thumbnail %}
  <div class="d-block">
    {% thumbnail gallery.gallery_image '550x350' as ph %}
      <img class='img-fluid' src="{{ ph.url }}"
                 width="{{ ph.width }}"
                 height="{{ ph.height }}"
                 alt="картина">
    {% endthumbnail %}
  </div>
  {% if gallery.images %}
    <h4 class="mt-2 mb-3">Ещё фотографии</h4>
    {% for ph in gallery.images.all %}
      <div class="d-inline-block">
        {% load thumbnail %}
        {% thumbnail ph.photo '250x150' crop='center' as ph %}
          <img src="{{ ph.url }}"
                         width="{{ ph.width }}"
                         height="{{ ph.height }}"
                         alt="картина">
        {% endthumbnail %}
      </div>
    {% endfor %}
  {% endif %}
  <h4 class="mt-2">История</h4>
  <p class="col-6 mx-auto">{{ gallery.gallery_description }}</p>
  <div>
    <a href="{% url 'galleries:galleries' %}"
           class="btn btn-primary bi me-2 mb-2" role="button">
      К галереям
    </a>
    <a href="{% url 'galleries:gallery_paintings' gallery_slug=gallery.gallery_slug %}"
           class="btn btn-primary mb-2" role="button">
      Картины галереи
    </a>
  </div>
{% endblock %}