{% extends 'base.html' %}

{% block title %}
  Художник
{% endblock %}

{% block content %}
  <h1>{{ artist.get_full_name }}</h1>
  <h6>{{ artist.years_of_life }}</h6>
  {% load thumbnail %}
  {% thumbnail artist.artist_photo '300x300' crop='center' as photo %}
    <img src="{{ photo.url }}"
             width="{{ photo.width }}"
             height="{{ photo.height }}"
             class="rounded-circle z-depth-0"
             alt="фото художника">
  {% endthumbnail %}
  <a href="{% url 'download:image' artist.artist_photo %}" class=
  "mx-auto d-block col-lg-2 col-md-3 col-sm-3 col-xs-6 btn text-blue btn-outline-primary mt-2 mb-3">Скачать изображение</a>
  <h5 class="mt-2">Краткая биография художника</h5>
  <div class="mt-2 mb-3 col-6 text-center mx-auto">
    {{ artist.short_biography }}
  </div>
  <div>
    <a href="{% url 'artists:artists' %}"
           role="button" class="btn btn-primary mb-3 bi me-2">
      К художникам
    </a>
    <a href="{% url 'artists:artist_painting' slug=artist.slug %}"
           role="button" class="btn btn-primary mb-3">
      Картины художника
    </a>
  </div>
{% endblock %}