{% extends 'base.html' %}

{% block title %}
  Художники
{% endblock %}

{% block content %}
  <h1>Художники</h1>
  {% for artist in artists %}
    {% if forloop.counter0|divisibleby:3 %}
      <div class="row">
    {% if forloop.counter0 >= 3 and forloop.counter0|divisibleby:3 %}
      </div>
    {% endif %}
    {% endif %}
    <div class="col-4">
      <h5>{{ artist.get_full_name }}</h5>
      <p>Годы жизни: {{ artist.years_of_life }}</p>
      {% load thumbnail %}
      {% thumbnail artist.artist_photo '300x300' crop='center' as photo %}
        <img src="{{ photo.url }}"
                     width="{{ photo.width }}"
                     height="{{ photo.height }}"
                     class="rounded-circle z-depth-0 img-fluid"
                     alt="изображение художника">
      {% endthumbnail %}
      <div>
        <a href="{% url 'artists:artist' artist.slug %}"
                   role="button" class="btn btn-primary mt-3 mb-3 bi me-2">
          Биография художника
        </a>
        <a href="{% url 'artists:artist_painting' slug=artist.slug %}"
                   role="button" class="btn btn-primary mt-3 mb-3">
          Картины художника
        </a>
      </div>
    </div>
    {% if forloop.last %}
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}